<div class="about-page">
  <h1>About</h1>
  <p>Showay is a platform that connect tourists and local guides in a super simple way. The problem that solve is find interesting guides where you are travelling around the world. 
  </p>
  <a href="https://www.facebook.com/showayguide?fref=ts">SHOWAY<a>
</div>