<div class="search-page">
  <div id="map-canvas" class="map"></div>
  <div class="filters"></div>
</div>

<script type="text/javascript">

  var options = {
    types: ['(cities)'],
  };

  var placeInput = $('#location-autosuggest');
  var placeAutocomplete = new google.maps.places.Autocomplete(placeInput[0], options);
  google.maps.event.addListener(placeAutocomplete, 'place_changed', function() {
      var place = placeAutocomplete.getPlace();
      console.log( $('#map-canvas'));

  });

</script>