<div class="search-page">
  <div id="map-canvas" class="map"></div>
  <div class="filters"></div>
</div>

<script type="text/javascript">

  var options = {
    types: ['(cities)'],
  };

  var $placeInput = $('#location-autosuggest');
  var placeAutocomplete = new google.maps.places.Autocomplete($placeInput[0], options);
  google.maps.event.addListener(placeAutocomplete, 'place_changed', function() {
      console.log('dajed')
      var place = placeAutocomplete.getPlace()
      if (place.formatted_address != $placeInput.val()) {
        $placeInput.val(place.formatted_address);
      }
  });

</script>