<div class="search-page">

  <div class="guide" id="user_layout">
  </div>

  <div class="filters">
    <h1>
      Filtri
    </h1>

    <form>

      <input type="text" id="datepicker"></p>

      <select>
        <option value="Culture and History Tours">Culture and History Tours</option>
        <option value="Driving Experiences">Driving Experiences</option>
        <option value="Excursions">Excursions</option>
        <option value="Food">Food</option>
        <option value="Nature and Adventure Tours">Nature and Adventure Tours</option>
        <option value="Nightlife">Nightlife<option>
        <option value="Sightseeing Tours">Sightseeing Tours</option>
        <option value="Theme Tours">Theme Tours</option>
        <option value="Tickets">Tickets</option>
      </select>

      <input type="submit">

    </form>

  </div>

  <div id="map-canvas" class="map"></div>

</div>

<script type="text/javascript">

  var options = {
    types: ['(cities)'],
  };

  var placeInput = $('#location-autosuggest');
  var placeAutocomplete = new google.maps.places.Autocomplete(placeInput[0], options);
  google.maps.event.addListener(placeAutocomplete, 'place_changed', function() {
      var place = placeAutocomplete.getPlace();
      console.log(place.geometry.location);
      window.map.setCenter(place.geometry.location);

  });

  $(function() {
    $( "#datepicker" ).datepicker();
  });

</script>