<div class="search-page">

  <div class="guide" id="user_layout">
  </div>

  <div class="filters">
    <div class='form'>
      <h5>Filters</h5><br>
      <form>

        <span class='datelabel'>When:</span><input type="text" id="datepicker">
        <div class="clearfix"></div><br>
        <span class='datelabel'>Category:</span>
        <select>
          <option value="Culture and History Tours">Culture and History Tours</option>
          <option value="Driving Experiences">Driving Experiences</option>
          <option value="Excursions">Excursions</option>
          <option value="Food">Food</option>
          <option value="Nature and Adventure Tours">Nature and Adventure Tours</option>
          <option value="Nightlife">Nightlife</option>
          <option value="Sightseeing Tours">Sightseeing Tours</option>
          <option value="Theme Tours">Theme Tours</option>
          <option value="Tickets">Tickets</option>
        </select>

        <div class="clearfix"></div><br>
        <span class='datelabel'>Minimum:</span>
        <div class="min-rating" data-average="0"></div>
        <div class="clearfix"></div><br>
        <input class="submit" type="submit" value="UPDATE">

      </form>
    </div>
    <hr>
    <div class='last-offer'>
      <h5>Last Minute</h5>
      <% @last_minute.each do |lm| %>
        <div class="last-minute-el">
          <table>
            <tbody>
              <tr>
                <td>
                <img src="<%= lm[:img] %>">
                </td>
                <td>
                  <a><span class='last-offer-desc'><%= lm[:description] %></span></a>
                </td>
                <td align="right">
                  <span class='last-offer-price'><%= lm[:price] %></span><span class='discount'>(-<%= [23,30,20,15].sample %>%)</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <% end %>
    </div>
  </div>

  <div id="map-canvas" class="map"></div>

</div>

<script type="text/javascript">

  var options = {
    types: ['(cities)'],
  };

  var placeInput = $('#location-autosuggest');
  var placeAutocomplete = new google.maps.places.Autocomplete(placeInput[0], options);
  google.maps.event.addListener(placeAutocomplete, 'place_changed', function() {
      var place = placeAutocomplete.getPlace();
      window.map.setCenter(place.geometry.location);
      $('h1').text(place.name);
  });

  $(function() {
    $( "#datepicker" ).datepicker();
  });

</script>