<div class="team-page">
  <img class="team" src="/assets/showay_team.jpg">
  <div class="members">
    <h1>TEAM</h1>
    <h2>DEVELOPER</h2>
    <div class="person">
      <a class="name" href="https://www.linkedin.com/pub/stefano-salvucci/41/872/b4a">Stefano Salvucci</a>
      <label class="email">stefano.salvucci@gmail.com</label>
    </div>
    <div class="person">
      <a class="name" href="https://www.linkedin.com/pub/andrea-olivieri/65/228/8a2">Andrea Olivieri</a>
      <label class="email">andrea.olivieri1991@gmail.com</label>
    </div>

    <h2>DESIGNER</h2>
    <div class="person">
      <a class="name" href="https://www.facebook.com/carlopompili23?fref=ts">Carlo Pompili</a>
      <label class="email">carlopompili23@gmail.com</label>
    </div>
    <div class="person">
      <a class="name" href="https://www.facebook.com/carlotta.centra?fref=ts">Carlotta Centra</a>
      <label class="email">carlottacentra@ied.edu</label>
    </div>
    <div class="person">
      <a class="name" href="https://www.facebook.com/ginevra.mazzoni?fref=ts">Ginevra Mazzoni</a>
      <label class="email">ginemazzon@gmail.com</label>
    </div>

    <h2>MARKETING</h2>
    <div class="person">
      <a class="name" href="https://www.linkedin.com/in/patriziadanese">Patrizia Danese</a>
      <label class="email">patrizia.danese@gmail.com</label>
    </div>
    <div class="person">
      <a class="name" href="https://www.linkedin.com/pub/sabrina-taddei/22/23a/410">Sabrina Taddei</a>
      <label class="email">sabrina.stampa@gmail.com</label>
    </div>
  </div>


</div>