// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$secSlide: 0.5s;


.search-page{


  h1{
    text-align: center;
    margin-bottom: 20px;
  }

  #datepicker{
    width: 100%;
    margin-bottom: 10px;
  }

  select{
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  input[type="submit"]{
    width: 50%;
    margin-left: 25%;
  }

  float: left;
  width: 100%;
  height: 100%;
  margin-top: -18px;

  .guide{
    width: 20%;
    margin-left: -20%;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: white;

    &.show{
      margin-left: 0%;
      -webkit-transition-property: margin-left; /* Safari */
      -webkit-transition-duration: $secSlide; /* Safari */
      transition-property: margin-left;
      transition-duration: $secSlide;
    }

    .guide-top{
     height: 110px;
    }
    .user_desc{
      padding-top: 40px;
      font-size: 14px;
      small{
        font-size: 10px;
      }
    }
    .description{
      margin: 10px;
      font-size: 12px;
      height: 60px;
    }
    .skills{
      text-align: center;
      .rating-value-big{
        margin: auto;
      }
    }
    .reviews{
      font-size: 12px;
      margin: 10px;
      img{
        width: 30px;
        height: 30px;
        border-radius: 30px;
      }
      table{
        width: 100%;
      }
      .separator{
        height: 20px;
      }
    }
    .price{
      float: left;
      font-size: 18px;
      color: #00ae47;
      text-align: center;
      padding-top: 6px;
      width: 160px;
    }
    .duration{
      font-size: 18px;
      color: black;
      text-align: center;
      padding-top: 6px;
    }
    .book{
      background-color: #00ae47;
      border: none;
      text-decoration: none;
      color: white;
      padding: 10px 20px;
      float: right;
      margin-right: 10px;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
    .user_picture{
      width: 100px;
      background-color: white;
      float: left;
      overflow: hidden;
      margin: 20px 10px;
      img{
          display: block;
          width: 100px;
      }
    }
  }

  #map-canvas{
    width: 80%;
    float: left;

    &.minimize{
      width: 60%;
      float: left;
      -webkit-transition-property: width; /* Safari */
      -webkit-transition-duration: $secSlide; /* Safari */
      transition-property: width;
      transition-duration: $secSlide;
    }
  }

  .filters{
    width: 20%;
    height: 100%;
    float: right;
    padding: 5px;
    .form{
      height: 290px;
      margin: 10px;
      h5{
        text-align: center;
      }
      .datelabel{
        float: left;
      }
      #datepicker{
        width: 120px;
        margin: 0 10px;
        float: right;
      }
      .min-rating{
        width: 120px;
        margin-right: 10px;
        float: right;
      }
      select{
        float: right;
        width: 120px;
        margin: 2px 10px;
      }
    }
    .last-offer{
      height: 290px;
      .last-minute-el{
        margin: 10px;
      }
      h5{
        text-align: center;
      }
      img{
          display: block;
          width: 60px;
          border-radius: 60px;
      }
      table{
        width: 100%;
        .last-offer-desc{
          font-size: 12px;
        }
        .last-offer-price{
          color: green;
          margin-right: 5px;
          font-size: 12px;
        }
        .discount{
          color: red;
          font-size: 9px;
          margin-right: 15px;
        }
      }
    }
  }
}

.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px 0 0 -10px;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background: #00ae47 url("assets/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
}