// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-page{
  float: left;
  width: 100%;
  height: 100%;
  margin-top: -18px;
  .guide{
    width: 0px;
    height: 100%;
    float: left;
    background-color: green;
    &.show{
      width: 20%;
    }
  }

  #map-canvas{
    width: 80%;
    float: left;
    &.minimize{
      width: 60%;
      float: left;
    }
  }

  .filters{
    background-color: red;
    width: 20%;
    height: 100%;
    float: right;
  }

}




select{
  width:100px;
}