// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-page{
  float: left;
  width: 100%;
  height: 100%;
  margin-top: -18px;
  .guide{
    width: 0px;
    height: 100%;
    float: left;
    background-color: white;
    .guide-top{
     height: 110px;
    }
    .user_desc{
      padding-top: 40px;
      font-size: 14px;
      small{
        font-size: 10px;
      }
    }
    .description{
      margin: 10px;
      font-size: 12px;
    }
    .user_picture{
      width: 100px;
      background-color: white;
      float: left;
      overflow: hidden;
      margin: 20px 10px;
      img{
          display: block;
          width: 100px;
      }
    }
    &.show{
      width: 20%;
    }
  }

  #map-canvas{
    width: 80%;
    float: left;
    &.minimize{
      width: 60%;
      float: left;
    }
  }

  .filters{
    background-color: red;
    width: 20%;
    height: 100%;
    float: right;
  }

}




select{
  width:100px;
}