<!DOCTYPE html>
<html>
<head>
  <title>Showay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app>
  <div class="header">
    <div class="left-side">
      <a href=""></a>
    </div>
    <div class="right-side">
      <button type="button" class="btn btn-primary">Daje</button>
    </div>
  </div>
  <%= yield %>

</body>
</html>
