<!DOCTYPE html>
<html>
<head>
  <title>Showay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="modTabs" ng-controller="tabController as tab">

<div class="header">
    <div class="left-side">
      <a href="">Qui ci va il logo</a>
    </div>
    <div class="right-side">

        <nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav" >
                <li ng-class="{ active:tab.isSelected(1) }">
                    <a href ng-click="tab.selectTab(1)">Search</a>
                </li>
                <li ng-class="{ active:tab.isSelected(2) }">
                    <a href ng-click="tab.selectTab(2)">Offer</a>
                </li>

            </ul>
        </nav>


    </div>
</div>

        <search    ng-show="tab.isSelected(1)"></search>

        <offer   ng-show="tab.isSelected(2)"></offer>

  <%= yield %>

</body>
</html>
